*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue",Helvetica,Arial;
}

body{
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.header{
    position: relative;
}

.section{
    margin: 20%;

}

.nav{
    text-align: center;
    background-color: rgb(49, 151, 151);
    font-size: 18px;
    margin: 40px;
}

.section{
    margin-top: 0ch;
}
.footer{
    background-color: rgb(39, 26, 26);
}